.singleImage {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    object-fit: contain
}

.singleImageAvatar{
    border-radius: 5px;
    width: 75px;
    height: 75px;
    object-fit: contain
}